{% extends "./profile-base.html" %}
{% load static %}
{% block profile_content %}
<!-- dropdown filter --> 
<div class='row'>
	<div class="form-group mb-0 mr-5 ml-0">
		<select id='profile-people-select' class="form-control form-control-sm" id="people-dropdown-filter">
			<option>&nbsp;&nbsp;Date Added</option>
			<option>&nbsp;&nbsp;A-Z</option>
		</select>
	</div>

	<!-- center filter --> 
	<div class="btn-group btn-group-toggle profile-top-filter ml-4 mr-4" data-toggle="buttons" id='profile-top-people'>
		<label class="btn btn-secondary active profile-filter-btn" id="filter-all">
			<input type="radio" name="options" autocomplete="off" checked> All
		</label>
		<label class="btn btn-secondary profile-filter-btn" id="filter-mine">
			<input type="radio" name="options" autocomplete="off"> My Lists
		</label>
		<label class="btn btn-secondary profile-filter-btn" id="filter-saved">
			<input type="radio" name="options" autocomplete="off"> Saved Lists
		</label>
	</div>
</div>
<!-- people content --> 
<div class='row mt-3 background-white'>
	{% for list in lists %}
	<div class='row profile-row list-row w-100 d-flex ml-0'>
		<div class='col-1 pl-2 pr-0 text-left'>
			<p class='grey ml-0 mt-2'>#{{forloop.counter}}</p>
		</div>
		<div class='col-11 pl-3 profile-picture-col text-left mt-2'>
			<a href="{% url 'profile-find-list' list_id=list.id %}">{{list.name}}</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
{% block profile_searchbar %}
<div class="input-group input-group-sm search col-11 mb-4" id="profile-people-search">
	<div class="input-group-prepend">
		<span class="input-group-text"><i class="fa fa-search"></i></span>
	</div>
	<input type="text" class="form-control form-control-sm prepend" placeholder="Search People" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
<script>
</script>
{% endblock %}