{% extends "./profile-base.html" %}
{% load static %}
{% block profile_content %}
<div class="btn-group btn-group-toggle profile-top-filter" data-toggle="buttons" id='profile-top-newsfeed'>
	<label class="btn btn-secondary active profile-filter-btn">
		<input type="radio" name="options" id="option1" autocomplete="off" checked> All News
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option2" autocomplete="off"> Shows
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option3" autocomplete="off"> People
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option3" autocomplete="off"> Users
	</label>
</div>
<!-- settings dropdown menu --> 
<div id= 'newsfeed-settings' class='text-right dropdown show'>
	<i class='fa fa-cog dropdown-toggle' role='button' id="newsfeed-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
	<div class="dropdown-menu" aria-labelledby="newsfeed-cog">
		<a class="dropdown-item" href="#">Delete All News</a>
		<a class="dropdown-item" href="#">Delete Old News (+30 days)</a>
	</div>
</div>

<!-- newsfeed content --> 
<div class='row mt-3 background-white'>
	{% for info in news %}
	<div class='row profile-row w-100 d-flex ml-0'>
		<!-- image -->
		<div class='col-1 pl-2'>
			<div class='profile-show-picture align-middle image' style='background-image: url({{info.news.event.show.image_preview}})'></div>
		</div>
		<!-- main info -->
		<div class='col-7 pl-3 text-left justify-content-center align-self-center'>
		{% if info.news.event.event == "SNE" %}
			<p class='mb-0 f-14'>{{info.news.event.show.title}} has just released <span class='semi-bold'>Episodes {{info.new_episodes}}</span>.</p>
		{% endif %}
		</div>
		<!-- time created --> 
		<div class='col-4 h-100 pr-2'>
			<div class='d-inline-flex flex-row w-100 h-100 justify-content-end'>
				<p class='mt-1 pt-1 f-12 grey'>{{info.news.event.time_created}}</p>
				<div class='p2 mt-1 ml-3'><i class='fa fa-close primary-blue'></i></div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
<script>
</script>
{% endblock %}