{% extends "./profile-base.html" %}
{% load static %}
{% block profile_content %}
<div class="btn-group btn-group-toggle profile-top-filter" data-toggle="buttons" id='profile-top-newsfeed'>
	<label class="btn btn-secondary active profile-filter-btn">
		<input type="radio" name="options" id="option1" autocomplete="off" checked> All News
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option2" autocomplete="off"> Shows
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option3" autocomplete="off"> People
	</label>
	<label class="btn btn-secondary profile-filter-btn">
		<input type="radio" name="options" id="option3" autocomplete="off"> Users
	</label>
</div>
<!-- settings dropdown menu --> 
<div id= 'newsfeed-settings' class='text-right dropdown show'>
	<i class='fa fa-cog dropdown-toggle' role='button' id="newsfeed-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
	<div class="dropdown-menu" aria-labelledby="newsfeed-cog">
		<a class="dropdown-item" href="#">Delete All News</a>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
<script>
	$(document).ready(function() {
		$(document).on("keyup", "#add-list-input", function(e) {
		console.log('hello');
		if (e.which === 13) { //if it's the enter key
			$.ajax({
				type: "POST",
				url: "/profile/lists/add/",
				data: {
					csrfmiddlewaretoken: '{{csrf_token}}',
					title: $("#add-list-input").val()
				},
				success: function(response) {
					console.log("HELLO");
				},
				error: function(response) {
					console.log(response);
				}
			});
		}
	});
	});
</script>
{% endblock %}