{% extends "./profile-base.html" %}
{% load static %}
{% block profile_content %}
<!-- dropdown filter --> 
<div class='row nav-fill w-100'>
	<div class="form-group mb-0 mr-5 ml-0">
		<select class="form-control form-control-sm" id="people-dropdown-filter">
			<option>Engagement</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</div>
	<!-- center filter --> 
	<div class="btn-group btn-group-toggle profile-top-filter ml-4 mr-4" data-toggle="buttons" id='profile-top-people'>
		<label class="btn btn-secondary active profile-filter-btn">
			<input type="radio" name="options" id="option1" autocomplete="off" checked> All
		</label>
		<label class="btn btn-secondary profile-filter-btn">
			<input type="radio" name="options" id="option2" autocomplete="off"> Favorite
		</label>
		<label class="btn btn-secondary profile-filter-btn">
			<input type="radio" name="options" id="option3" autocomplete="off"> Following
		</label>
	</div>

	<!-- key --> 
	<div id='profile-people-key'>
	</div>
</div>

{% endblock %}
{% block profile_searchbar %}
<div class="input-group input-group-sm search col-12" id="profile-people-search">
	<div class="input-group-prepend">
		<span class="input-group-text"><i class="fa fa-search"></i></span>
	</div>
	<input type="text" class="form-control form-control-sm" placeholder="Search People" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
{% endblock %}