{% extends "../base.html" %}
{% load static %}
{% block title %}Profile: {{profile_page}}{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div class='mt-4 ml-5 row'>
		<button class="btn btn-primary circle" id='profile-picture'>
			{% with username=request.user.username|first %}
			{{username|upper}}
			{% endwith %}
		</button>
		<h5 class='ml-4 light' id='profile-username'>{{request.user.username|upper}}</h5>
	</div>
	<div class="text-center nav-fill w-100">
		{% if not is_list_page %}
		<h1 class='font-skia'>{{title}}</h1>
		{% endif %}
		<input type='hidden' data-page="newsfeed" id='sidebar-input'>
	</div>
	<div class='row mt-4'>
		<div class='col-3 col-2-5u text-center profile-sidebar-div'>
			{% include "../profile/sidebar.html" %}
		</div>
		<div class='col-6 col-7u col-unique text-center'>
			{% block profile_content %}
			{% endblock %}
			
			<!-- pagination --> 
			{% if info.has_next or info.has_previous %}
			<div class="pagination d-flex flex-row w-100 justify-content-center mt-4">
				{% if info.has_previous %}
				<div class='pagination-box'><a href="?page=1" class='p-2 primary-blue'>&laquo;</a></div>
				<div class='pagination-box'><a href="?page={{ info.previous_page_number }}" class='p-2 primary-blue'> &lsaquo;</a></div>
				<div class='pagination-box'><a href="?page={{ info.previous_page_number }}" class='p-2 primary-blue'> {{ info.previous_page_number }}</a></div>
				{% endif %}

				<div class='pagination-box'><a class='p-2'>{{info.number}}</a></div>

				{% if info.has_next %}
				<div class='pagination-box'><a href="?page={{ info.next_page_number }}" class='p-2 primary-blue'> {{ info.next_page_number }}</a></div>
				<div class='pagination-box'><a href="?page={{ info.next_page_number }}" class='p-2 primary-blue'>&rsaquo;</a></div>
				<div class='pagination-box'><a href="?page={{ info.paginator.num_pages }}" class='p-2 primary-blue'>&raquo;</a></div>
				{% endif %}
			</div>
			{% endif %}
			<!-- end pagination -->
		</div>
		<div class='col-3 col-2-5u'>
			{% block profile_searchbar %}
			{% endblock %}
			<div class='sidebar-advert'>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
{% endblock %}