<div class="sidenav text-center">
  <a href="#about">News Feed</a>

  <button class="dropdown-btn">Shows 
    <i class="fa fa-chevron-down" style="-webkit-text-stroke: 1px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Watching</a>
    <a href="#">Favorites</a>
    <a href="#">Following</a>
    <a href="#">Completed</a>
    <a href="#">Queued</a>
  </div>

  <button class="dropdown-btn">People 
    <i class="fa fa-chevron-down" style="-webkit-text-stroke: 1px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Favorites</a>
    <a href="#">Following</a>
  </div>
  <button class="dropdown-btn">Personal 
    <i class="fa fa-chevron-down" style="-webkit-text-stroke: 1px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Followers</a>
    <a href="#">Following Users</a>
  </div>
  <button class="dropdown-btn">My Lists 
    <i class="fa fa-chevron-down" style="-webkit-text-stroke: 1px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
  </div>
  <a href="#about">Statistics</a>

</div>

