<div class="sidenav text-center sticky-top">

  <a href="{% url 'profile-newsfeed' %}" class="sidebar-main" id='newsfeed'>News Feed</a>

  <button class="dropdown-btn sidebar-main">Shows 
    <i class="fa fa-chevron-down float-right mt-1" style="-webkit-text-stroke: 1.5px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="#" class="sidebar-options">Watching</a>
    <a href="#" class="sidebar-options">Favorites</a>
    <a href="#" class="sidebar-options">Following</a>
    <a href="#" class="sidebar-options">Completed</a>
    <a href="#" class="sidebar-options">Queued</a>
  </div>

  <button class="dropdown-btn sidebar-main" id='people'>People 
    <i class="fa fa-chevron-down float-right mt-1" style="-webkit-text-stroke: 1.5px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'profile-people' favorites %}" class="sidebar-options">Favorites</a>
    <a href="{% url 'profile-people' following %}" class="sidebar-options">Following</a>
  </div>

  <button class="dropdown-btn sidebar-main" id='personal'>Personal 
    <i class="fa fa-chevron-down float-right mt-1" style="-webkit-text-stroke: 1.5px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="# class="sidebar-options"">Followers</a>
    <a href="# class="sidebar-options"">Following Users</a>
  </div>

  <button class="dropdown-btn sidebar-main" id='mylists'>My Lists 
    <i class="fa fa-chevron-down float-right mt-1" style="-webkit-text-stroke: 1.5px #FCFCFC;"></i>
  </button>
  <div class="dropdown-container">
    <a href="#" class="sidebar-options"><i class='fa fa-plus pr-3 primary-blue' style="-webkit-text-stroke: 1px #FCFCFC;"></i>Add List</a>
  </div>

  <a href="#about" class="sidebar-main" id='statistics'>Statistics</a>

</div>

