{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- dropdown filter --> 
<div class='container-fluid'>
	<div class="text-center nav-fill w-100">
		<h1 class='font-skia mt-5'>Search Results: {{search_contents}}</h1>
	</div>
	<div class='row mt-4'>
		<div class='col-3 col-2-5u text-center'>
		</div>
		<div class='col-6 col-7u col-unique text-center'>

			{% if not shows and not actors %}
			<p class='text-center'>No Results</p>
			{% endif %}

			<!-- show content --> 
			{% if shows %}
			<h5 class='text-left light'>Shows</h5>
			<div class='row mt-3 background-white'>
				{% for show in shows %}
				<div class='row profile-row search-row w-100 d-flex ml-0 {% if show.followed %}show-followed{% endif %} {% if show.favorited %}show-favorited{% endif %}'>
					<div class='col-1 pl-2 pr-0 text-left'>
						<p class='grey ml-0 mt-2'>#{{forloop.counter}}</p>
					</div>
					<div class='col-1 pl-0 profile-picture-col'>
						<div class='profile-show-picture align-middle image mt-1' style='background-image: url({{show.image_preview}})'></div>
					</div>
					<div class='col-8 pl-0 mr-3 text-left justify-content-center align-self-center'>
						<a href="{% url 'find-show' show_id=show.id %}" class='mb-0'>{{show.title}} ({{show.year}})</a>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<!-- end show content --> 

			<!-- actor content --> 
			{% if actors %}
			<h5 class='text-left light mt-4'>Actors</h5>
			<div class='row mt-3 background-white'>
				{% for actor in actors %}
				<div class='row profile-row search-row w-100 d-flex ml-0 {% if show.followed %}show-followed{% endif %} {% if show.favorited %}show-favorited{% endif %}'>
					<div class='col-1 pl-2 pr-0 text-left'>
						<p class='grey ml-0 mt-2'>#{{forloop.counter}}</p>
					</div>
					<div class='col-1 pl-0 profile-picture-col'>
						<div class='profile-actor-picture align-middle image mt-1' style='background-image: url({{actor.image_preview}})'></div>
					</div>
					<div class='col-7 pl-0 mr-3 text-left justify-content-center align-self-center'>
						<a href="{% url 'find-show' show_id=show.id %}" class='mb-0'>{{actor.stage_name}} ({{actor.native_name}})</a>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<!-- end actor content --> 
		</div>
		<div class='col-3 col-2-5u'>
			<div class='sidebar-advert'>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile-sidebar.min.js' %}"></script>
<script>
	$(document).ready(function() {




	});
</script>
{% endblock %}