$actor-picture-height: 160px;
$actor-picture-width: 130px;

#actor-image {
	height: 600px;
	width: 102.5%;
	background-size: 100%;
	overflow: hidden;
	margin-left: -1.25%;
}

#actor-box {
	margin-left: 2%;
	margin-top: 3%;
	width: 30%;
	height: 27%;
	background-color: $white;
	opacity: 0.8;
}

#actor-followers {
	margin-top: -14%;
	border: none;
	opacity: 0.6;
}

#actor-content {
	margin-top: -150px !important;
	background-color: $white;
	width: 85%;
	margin: auto;
}

.popular-shows {
	height: 200px;
}

.show-preview, .picture-preview {
	height: $actor-picture-height;
	width: $actor-picture-width;
	border: 1px solid $dark-border;
}

.related-celebs {
	height: 200px;
}

.related-pics {
	height: 80px;
	width: 52%;
	border: 1px solid $dark-border;
}

.actor-stats {
	height: $actor-picture-height;
	width: 90%;
	border: 1px solid $dark-border;
	background: $background;
}