$actor-picture-height: 160px;

$actor-preview-height: 120px;
$actor-preview-width: 90px;

#actor-image {
	width: 102.5%;
	overflow: hidden;
	margin-left: -1.25%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 600px;
}

#actor-box {
	margin-left: 2%;
	margin-top: 3%;
	width: 30%;
	height: 27%;
	background-color: $white;
	opacity: 0.8;
}

#actor-content, #show-content {
	margin-top: -150px !important;
	background-color: $white;
	width: 85%;
	margin: auto;
}

.popular-shows {
	height: 200px;
}

.show-preview, .picture-preview {
	height: $actor-picture-height;
	width: 105%;
	border: 1px solid $dark-border;
}

.show-list-preview {
	height: $actor-preview-height;
	width: $actor-preview-width;
	border: 1px solid $dark-border;
}

.related-celebs {
	height: 200px;
}

.related-pics {
	height: 80px;
	width: 52%;
	border: 1px solid $dark-border;
}

.actor-stats {
	height: $actor-picture-height;
	width: 90%;
	border: 1px solid $dark-border;
	background: $background;
}

.show-divider {
	width: 90%;
	height: 1px; 
	background-color: $light-border;
}

a.actor-show-title {
	font-size: 14px;
	color: $link-blue;
}

a.actor-show-title:hover {
	text-decoration: underline;
}

.actor-click-button {
	padding-left: 10%;
	padding-right: 10%;
}