$show-picture-height: 160px;

.show-rating-info {
	width: 115% !important;
}

.show-stats {
	height: $show-picture-height;
	width: 80%;
	border: 1px solid $dark-border;
	background: $background;
}

.picture-preview.show-rating-info {
	height: 184px;
}

#update-status {
	width: 20%;
}

.icon-review {
	color: $light-border;
}

.review-hover {
	color: $pale-yellow;
}

.icon-review-selected {
	color: $yellow !important;
}