{% extends "../base.html" %}
{% load static %}
{% block title %}{{show.title}}{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div id="actor-image" style="background-image:url({{show.image_preview}})">
		<div class='d-flex float-right flex-column'>
			<button class="rounded-btn mt-3 mr-3 pl-2 pr-3 content-stats"><i class='fa fa-check-circle pr-3 primary-blue f-16'></i>{{show.follower_count}} followers</button>
			<button class="rounded-btn mt-2 mr-3 pl-2 pr-3 content-stats"><i class='fa fa-heart pr-3 pale-red f-16'></i>{{show.favorited_count}} favorited</button>
		</div>
	</div>

	<div id='actor-content'>
		<div class="row">
			<input id='data-show' type='hidden' data-show={{show.id}}>
			<!-- scrollbar --> 
			<div class='col-2 content-scrollbar mt-4 mb-4 pr-1'>

				<!--scrollbar dot --> 
				<div class='sticky-top'>
					<div id='scrollbar-dot' class='circular'></div>
					<ul class='list-group'>
						<li class="list-group-item content-nav ml-2 mt-1"><a href="#show-about" id='content-top'>About</a></li>
						<li class="list-group-item content-nav ml-2"><a href="#show-cast">Cast</a></li>
						<li class="list-group-item content-nav ml-2"><a href="#show-similar-shows">Similar Shows</a></li>
						<li class="list-group-item content-nav ml-2"><a href="#show-reviews">Reviews</a></li>
						<li class="list-group-item content-nav ml-2"><a href="#show-contribute">Contribute</a></li>
					</ul>
				</div>
			</div>

			<!-- actual content --> 
			<div class='col-10 content-main'>
				<!-- overview -->
				<div class='row'>
					<div class='col-9'>
						<h1 class='mt-4 pt-1 ml-3 f-36'>{{show.title}}</h1>
						<div class="dropdown">
							<button class="btn rounded-btn dropdown-toggle mt-1 pl-3 pr-3 small-btn ml-3" type="button" id='update-status' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Status<i class='fa fa-caret-down pl-2'></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Add to Watch List</a>
								<a class="dropdown-item" href="#">Watching</a>
								<a class="dropdown-item" href="#">Completed</a>
								<a class="dropdown-item" href="#">Abandoned</a>
							</div>
						</div>
					</div>
					<div class='col-3'>
						<div class='d-flex flex-column'>
							<button class="btn rounded-btn mr-4 mt-4 show-click-button ml-4 pale-border small-btn {% if following_show == False %}background-light-blue blue-btn{% endif %}" id='follow-show'><i class='fa fa-plus primary-blue pr-2'></i><span id='follow-show-text'>{% if following_show %}Followed{% else %}Follow{% endif %}</span></button>
							<button class="btn rounded-btn mt-3 mr-4 show-click-button ml-4 pale-border small-btn {% if favorited_show == False %}background-light-blue blue-btn{% endif %}" id='favorite-show'><i class='fa fa-heart red pr-2'></i><span id='favorite-actor-text'>{% if favorited_show %}Favorited{% else %}Favorite{% endif %}</span></button>
						</div>
					</div>
				</div>
				<!-- about section -->
				<h5 class='mt-4 ml-3 scrollable-point' id='show-about'>About</h5>
				<div class="row mt-3 ml-1 text-center">
					<div class='col-2' id='show-rating-info'>
						<div class='picture-preview image show-rating-info' style='background-image:url({{show.image_preview}})'></div>
						<div class='d-flex flex-row justify-content-around show-rating-info mt-1'>
							{% for i in "xxxxx" %}
							<i class='fa fa-star icon-review yellow'></i>
							{% endfor %}
						</div>
					</div>
					<div class='col-9'>
						<p class='font-open-sans'>This is a short summary of the actor. YESSSSS</p>
					</div>
				</div>
				<div class='row ml-1 mt-1'>
					<div class='col-2 text-center pr-0'>
						<p class='mb-0 show-rating-info'>Ratings</p>
						<button class='btn rounded-btn small-btn w-100 pl-3 mt-2'>Your Rating: 3.5 <i class='fa fa-star yellow'></i></button>
						<div class="dropdown w-100">
							<button class="btn rounded-btn dropdown-toggle mt-2 pl-3 pr-3 small-btn w-100" type="button" id='update-status' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fa fa-list primary-blue pr-3' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>Add to List
							</button>
							<div class="dropdown-menu" aria-labelledby="update-status">
								{% for list in lists %}
								<a class="dropdown-item add-list" href="#" data-show='{{show.id}}' data-list='{{list.id}}' data-name='{{list.name}}'>{{list.name}}</a>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class='col-10 mt-2'>
						<div class='show-stats ml-4'></div>
					</div>
				</div>

				<!-- resources --> 
				<h5 class='ml-3 mt-3 scrollable-point' id='show-resources'>Resources</h5>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block scripts %}
	<script type='text/javascript' src="{% static 'js/content.min.js' %}"></script>
	<script>
		$(document).ready(function() {

			// this means that theyr'e not followed yet
			$(".show-click-button").each(function() {
				if ($(this).hasClass("blue-btn")) {
					$(this).removeClass("pale-border");
				}
			});

			//list functionality 
			$(".add-list").on("click", function(e) {

				e.preventDefault();
				var obj = $(this);
				var show_id = $(this).data('show');
				var list_id = $(this).data('list');
				var list_name = $(this).data("name");

				$.ajax({
					type: "POST",
					data: {
						csrfmiddlewaretoken: '{{csrf_token}}'
					},
					url: "/shows/"+show_id+"/"+list_id,
					success: function(result) {
						console.log("Success!");
					},
					error: function(result) {
						console.log(result);
					}
				});
				$(this).html("<i class='fa fa-check primary-blue pr-2'></i>"+list_name);
			});

			// follow actor functionality
			$("#follow-show").on("click", function() {
				
				var following = true;
				// this means that theyr'e not followed yet
				if ($(this).hasClass("blue-btn")) {
					following = false;
				}

				$.ajax({
					type: "POST",
					data: {
						show: $("#data-show").data("show"),
						csrfmiddlewaretoken: '{{csrf_token}}',
						follow: !following
					},
					url: "/shows/follow_show/",
					success: function(result){
						console.log(result);
					},
					error: function(result) {
						console.log(result);
					}
				});

				//change button appearance
				if (!following) {
					$(this).removeClass("background-light-blue");
					$(this).removeClass("blue-btn");
					$(this).addClass("pale-border");
					$("#follow-show-text").text("Followed");
				} else {
					$(this).addClass("background-light-blue");
					$(this).addClass("blue-btn");
					$(this).removeClass("pale-border");
					$("#follow-show-text").text("Follow");
				}
			});

			//favorite user functionality
			$("#favorite-show").on("click", function() {
				
				var favorited = true;
				// this means that theyr'e not followed yet
				if ($(this).hasClass("blue-btn")) {
					favorited = false;
				}

				$.ajax({
					type: "POST",
					data: {
						show: $("#data-show").data("show"),
						csrfmiddlewaretoken: '{{csrf_token}}',
						favorite: !favorited
					},
					url: "/shows/favorite_show/",
					success: function(result){
						console.log(result);
					},
					error: function(result) {
						console.log(result);
					}
				});

				//change button appearance
				if (!favorited) {
					$(this).removeClass("background-light-blue");
					$(this).removeClass("blue-btn");
					$(this).addClass("pale-border");
					$("#favorite-show-text").text("Favorited");
				} else {
					$(this).addClass("background-light-blue");
					$(this).addClass("blue-btn");
					$(this).removeClass("pale-border");
					$("#favorite-show-text").text("Favorite");
				}
			});
		});
	</script>
	{% endblock %}