{% extends "../base.html" %}
{% load static %}
{% block title %}Shows{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div class='topbar-ad'></div>
	<div class='row'>
		<div class='col-3 text-center'>
			<div>
				<div class='show-sidebar show-sidebar-title top text-center'>
					<h6 >Country</h6>
				</div>
				<div class='show-sidebar bottom text-center pb-3'>
					<p class="pt-3 pl-3 pr-3"></p>
				</div>
			</div>
			<div>
				<div class='show-sidebar show-sidebar-title top text-center'>
					<h6>Year</h6>
				</div>
				<div class='show-sidebar bottom text-center pb-3'>
					<p class="pt-3 pl-3 pr-3"></p>
				</div>
			</div>
		</div>
		<div class='col-6'>
			<form class='float-right'>
				<div class="form-group">
					<select class="form-control form-control-sm input-small" id="show-ordering">
						<option>&nbsp;Most Popular&nbsp;&nbsp;</option>
						<option>&nbsp;Recent</option>
						<option>&nbsp;Rising</option>
					</select>
				</div>
			</form>
			<div class='actor-main-div mt-5'>
				
			</div>
		</div>
		<div class='col-3'>	
			<div>
				<div class='show-sidebar show-sidebar-title top text-center'>
					<h6 >Most Viewed Genres</h6>
				</div>
				<div class='show-sidebar bottom text-center pb-3'>
					<p class="pt-3 pl-3 pr-3"></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}