/*------- COPIED CSS --------*/

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 75%;
  margin-left: 15%;
  background-color: $white;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 16px;
  margin-top: -1px;
  text-decoration: none;
  font-size: 14px;
  color: $soft-black;
  display: block;
  border: 1px solid $light-border;
  width:100%;
  text-align: left;
  cursor: pointer;
  font-weight: 400;

}

.sidenav > a, .dropdown-btn {
  	font-weight: 600;
  	border: 1px solid $dark-border;
 }

.sidenav-boxshadow {
  box-shadow: 0px 2px 3px $dark-border;
 }

 #profile-statistics {
 	box-shadow: none;
 }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: $grey;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
  display: none;
}