/*--------- common ----------- */
#profile-picture {
	height: 90px;
	width: 90px;
	border: 1px solid $dark-border;
}

#profile-username {
	margin-top: 35px;
}

.profile-top-filter label {
	background-color: $white;
	color: $soft-black;
	font-weight: 300 !important;
	font-size: 14px;
	border: 1px solid $medium-border;
}

.profile-filter-btn.active {
	background-color: $pale-blue !important;
	color: $soft-black !important;
	border: 1px solid $medium-border !important;
}

.profile-filter-btn:hover {
	background-color: $light-blue !important;
	color: $soft-black !important;
	border: 1px solid $medium-border !important;
}

.profile-row {
	height: 65px;
	border-bottom: 1px solid $light-border;
}

.profile-actor-picture {
	height: 36px;
	width: 36px; 
	border-radius: 50%;
	border: 1px solid $dark-border;
	margin-top: 15px;
}

.profile-picture-col {
	margin-left: -3%;
}
/*-------- newsfeed -------- */

#profile-top-newsfeed {
	width: 90%;
}

#profile-top-newsfeed label {
	width: 25%;
}

#newsfeed-settings {
	margin-left: 100%;
	margin-top: -4.5%;
}

#newsfeed-settings .fa-cog {
	font-size: 22px;
	color: $medium-dark-grey;
}

#newsfeed-settings .fa-cog:hover {
	cursor: pointer !important;
}

#newsfeed-settings .dropdown-menu {
	font-size: 14px;
	border: 1px solid $primary-blue;
	padding: 2px;
}

/*-------- people -------- */

#profile-top-people {
	width: 50%;
}

#profile-top-people label {
	width: 50%;
}

#profile-people-select {
	height: 35px;
	width: 130%;
}

#profile-people-key {
	height: 35px;
	border: 1px solid $grey;
	background-color: $white;
	width: 20%;

	.p-2 {
		margin-top: -2%;
		margin-left: 1px;
	}

	.p-2:hover {
		cursor: pointer;
	}
}

#profile-people-search {
	margin-left: -7%;
}

/*-------- shows -------- */

#profile-top-shows {
	width: 80%;
	margin-top: -8px;
}

.profile-show-picture {
	height: 36px;
	width: 36px; 
	border-radius: 25%;
	border: 1px solid $dark-border;
	margin-top: 15px;
}

/*---------- lists ------------ */

.profile-row.list-row {
	height: 35px;
}