/*------- PERSONAL CSS --------*/

#list-input-div {
  width: 80% !important;
  height: 20px !important;
  margin-top: -10%;
}

/*------- COPIED CSS --------*/

/* Fixed sidenav, full height */
.sidenav {
  width: 84%;
  margin-left: 13%;
  background-color: $white;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .sidenav p {
  padding: 6px 8px 6px 16px;
  margin-top: -1px;
  text-decoration: none;
  font-size: 14px;
  color: $soft-black;
  display: block;
  border: 1px solid $light-border;
  width:100%;
  text-align: left;
  cursor: pointer;
  font-weight: 400;

}

.sidenav > a, .dropdown-btn, .sidenav > p, {
  	font-weight: 600;
  	border: 1px solid $dark-border;
 }

.sidenav-boxshadow {
  box-shadow: 0px 2px 3px $dark-border;
 }

 #profile-statistics {
 	box-shadow: none;
 }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: $grey;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
  display: none;
}

.sidebar-options {
  font-weight: 300 !important;
}