{% extends "../base.html" %}
{% load static %}
{% block title %}People{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div class='topbar-ad'></div>
	<div class='row'>
		<div class='col-3 text-center'>
			<div class='actor-sidebar'>
			</div>
		</div>
		<div class='col-6'>
			<form class='float-right'>
				<div class="form-group">
					<select class="form-control form-control-sm input-small" id="actor-ordering">
						<option>&nbsp;Most Popular&nbsp;&nbsp;</option>
						<option>&nbsp;Alphabetical</option>
						<option>&nbsp;Rising</option>
						<option>&nbsp;Recent</option>
					</select>
				</div>
			</form>
			<div class='actor-main-div mt-5'>
				{% for dict in info %}
				<div class='actor-div'>
					<div class='intro-box row'>
						<div class='col-3'>
							<div class='image intro-preview' style='background-image:url({{dict.actor.image_preview}})'></div>
						</div>
						<div class='col-9 mt-4'>
							<a href="{% url 'find-actor' stagename=dict.actor.url %}"><h5 class='light'>{{dict.actor.stage_name}} ({{dict.actor.native_name}})</h5></a>
							<p><span class='semi-bold'>Acted in: </span>{% for show in dict.shows %}{% if not forloop.last %}<a href="{% url 'find-show' show_id=show.id %}">{{show.title}} </a>({{show.year}}), {% else %}<a href="{% url 'find-show' show_id=show.id %}">{{show.title}}</a> ({{show.year}}){% endif %}{% endfor %}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class='col-3'>	
			<div class='actor-sidebar text-center pb-3'>
				<p class="pt-3 pl-3 pr-3">Can't find the actor/actress you're searching for? Add them yourself!</p>
				<button type="button" class='btn rounded-btn'><i class='fa fa-plus pr-3 primary-blue'></i><a href="{% url 'add-actor' %}">Add Actor</a></button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}