{% extends "../base.html" %}
{% load static %}
{% block title %}{{actor.stage_name}}{% endblock %}
{% block content %}
	<div id="actor-image" style="background-image:url({% static '/images/neo_hou.jpg' %})">

		<div id='actor-box'>
			<h2 class='black text-center pt-3'>{{actor.stage_name}}</h2>
			<p class='text-center pt-1'><span class='font-weight-bold'>Other Names: </span>{{actor.native_name}}</p>
			<div class='text-center'>
				<button class="btn rounded-btn mr-3 pl-5 pr-5 background-light-blue blue-btn"><i class='fa fa-plus primary-blue pr-2'></i>Follow</button>
				<button class="btn rounded-btn pl-5 pr-5 background-light-blue blue-btn"><i class='fa fa-heart red pr-2'></i>Favorite</button>
			</div>
		</div>
		<button class="float-right rounded-btn mr-3 pl-2 pr-3" id='actor-followers'><i class='fa fa-check-circle pr-3 primary-blue'></i>{{actor.follower_count}} followers</button>
	</div>
	<div id='actor-content'>
		<p class="mt-3">FUCK</p>
	</div>
{% endblock %}
{% block scripts %}
{% endblock %}