//main
@import 'main/colors';
@import 'main/fonts';
@import 'main/general';
@import 'main/navbar';
@import 'main/content';

//actors 
@import 'actors/actors';
@import 'actors/actorspage';

//profile 
@import 'profile/profilesidebar';
@import 'profile/profile';

//shows 
@import 'shows/shows';
@import 'shows/showpage';