$background: #F7F7F7;

$light-blue: #F3FDFD; 
$pale-blue: #D3F3F9;
$primary-blue: #6AC4D5;

$white: #FCFCFC;
$light-grey: #FAFAFA;
$medium-grey: #C4C4C4;
$grey: #9B9B9B;

$light-border: #D8D8D8;
$medium-border: #CCCCCC;
$dark-border: #979797;

$soft-black: #4A4A4A;
$black: #373A3C;

$red: #E07474;

$link-blue: #4990E2;