$background: #F7F7F7;

$primary-blue: #6AC4D5;
$light-blue: #F3FDFD; 

$white: #FCFCFC;
$light-grey: #FAFAFA;
$medium-grey: #C4C4C4;
$grey: #9B9B9B;

$light-border: #D8D8D8;
$dark-border: #979797;

$soft-black: #4A4A4A;