/*-------- content (actors and shows) --------*/

.content-scrollbar {
	border-right: 1px solid $dark-border;
}

.content-nav {
	border: none;
	font-family: $open-sans;
	font-size: 14px;
	background-color: $white;
}

.content-main {
	height: 100%;
}

.content-stats {
	margin-top: -14%;
	opacity: 0.6;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 150px;
}

.icon-review {
	-webkit-text-stroke: 0.5px $light-border;
}

.small-btn {
	font-size: 12px;
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}

#show-page-summary, #actor-page-summary {
	overflow-y: scroll;
}

/*--------- scrollbar ---------- */

/* make scrollbar disappear */
.content-main {
	/* width */
	&::-webkit-scrollbar {
  		width: 0px;
	}
}

.active-link {
	color: $primary-blue;
}

/*--------- scrollbar dot ---------- */

#scrollbar-dot {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: $pale-blue;
	border: 1px solid $dark-border;
	margin-left: 97%;
	z-index: 999;
	margin-top: 10%;
}

/*----------- home page ------------- */

.intro-box {
	background-color: $white;
	height: 200px;
	border-bottom: 1px solid $light-border;
	margin-bottom: 2%;
}

.intro-preview {
	margin-top: 15%;
	height: 80%;
	width: 100%;
	border: 1px solid $dark-border;
}

.actor-sidebar, .show-sidebar {
	background-color: $white;
	display: inline-block;
	border: 1px solid $light-border;
	width: 85%;
}

.show-sidebar.bottom {
	margin-top: -1px;
}

.show-sidebar-title {
	padding-top: 3px;
	margin-bottom: -4px;
}