/*-------- content (actors and shows) --------*/

.content-scrollbar {
	border-right: 1px solid $dark-border;
}

.content-nav {
	border: none;
	font-family: $open-sans;
	font-size: 14px;
	background-color: $white;
}

.content-main {
	height: 100%;
}

.content-stats {
	margin-top: -14%;
	opacity: 0.6;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 150px;
}

/*--------- scrollbar ---------- */

/* make scrollbar disappear */
.content-main {
	/* width */
	&::-webkit-scrollbar {
  		width: 0px;
	}
}

.active-link {
	color: $primary-blue;
}

/*--------- scrollbar dot ---------- */

#scrollbar-dot {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: $pale-blue;
	border: 1px solid $dark-border;
	margin-left: 103%;
	margin-top: 13%;
}

/*----------- home page ------------- */

.actor-div, .show-div {
	background-color: $white;
}

.actor-sidebar, .show-sidebar {
	background-color: $white;
	display: inline-block;
	border: 1px solid $light-border;
	width: 85%;
}

.show-sidebar.bottom {
	margin-top: -1px;
}

.show-sidebar-title {
	padding-top: 3px;
	margin-bottom: -4px;
}