
/*----- CAVIAR DREAMS -------*/
@font-face {
	font-family: "Caviar Dreams";
	src: url("../../../static/fonts/caviar_dreams/CaviarDreams.ttf");
}

@font-face {
	font-family: "Caviar Dreams";
	src: url("../../../static/fonts/caviar_dreams/CaviarDreams_Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Caviar Dreams";
	src: url("../../../static/fonts/caviar_dreams/CaviarDreams_Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Caviar Dreams";
	src: url("../../../static/fonts/caviar_dreams/CaviarDreams_BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

/*----- SKIA -------*/

@font-face {
	font-family: "Skia";
	src: url("../../../static/fonts/skia/Skia_Regular.ttf") format('ttf');
}

$caviar-dreams: 'Caviar Dreams';
$skia: 'Skia';
$open-sans: 'Open Sans', sans-serif;
$nunito: 'Nunito Sans', sans-serif;

