body {
	background-color: $background;
	font-family: $nunito;
	letter-spacing: 0.8px;
	font-weight: 300 !important;
	color: $soft-black;
}

/*------ fonts -------- */

p {
	font-size: 14px;
	font-weight: 300;
}

/* meant for profile news feed */
h1 {
	font-family: $skia;
	font-size: 20px;
}

h2 {
	font-family: $open-sans;
	font-weight: 600;
}

h5 {
	font-family: $open-sans;
	font-size: 20px;
}

/* meant for actor and show home pages filter */
h6 {
	font-family: $open-sans;
	font-size: 14px;
	color: $soft-black;
	font-weight: 300;
}

a {
	color: $soft-black;
}


a:hover {
	text-decoration: none;
}

.btn a:hover {
	text-decoration: none;
	color: $soft-black;
}

.font-light {
	color: $light-grey;
}

/*-------- font weights --------*/

.semi-bold {
	font-weight: 600;
}

.light {
	font-weight: 300;
}

/*-------- font families --------*/

.font-open-sans {
	font-family: $open-sans;
}

.font-nunito {
	font-family: $nunito;
}

.font-caviar {
	font-family: $caviar-dreams;
}

.font-skia {
	font-family: $skia;
}

/*------- random -------- */

.circular {
	border-radius: 50%;
}

.list {
	list-style-type: none;
}

/*------- background colors -------- */

.background-blue {
	background-color: $primary-blue;
}

.background-light-blue {
	background-color: $light-blue;
}

.background-pale-blue {
	background-color: $pale-blue;
}

.background-white {
	background-color: $white;
}

/*------- buttons -------- */

.rounded-btn {
	font-size: 14px;
	border: 1px solid $primary-blue;
	padding: 3px 40px 3px 40px;
	border-radius: 10px;
	color: $soft-black;
}

.rounded-btn:hover {
	background-color: $light-blue;
}

.rounded-btn.blue-btn:hover {
	background-color: $white;
}

.pale-border {
	border: 1px solid $pale-blue;
}

/*------- width -------- */

.w-80 {
	width: 80% !important;
}

.w-100 {
	width: 100% !important;
}

/*------- adjustible columns -------- */ 

.col-2-5u {
	width: 22% !important;
	flex: 0 0 22%;
    max-width: 22%;
}

.col-7u {
	width: 56%;
	flex: 0 0 56%;
    max-width: 56%;
}

.col-9-5u {
	width: 78% !important;
	flex: 0 0 78%;
    max-width: 78%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/*------- image -------- */ 

.image {
	-webkit-background-size: contain;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
}

/*------- font-size -------- */ 

.f-12 {
	font-size: 12px; 
}

.f-16 {
	font-size: 16px;
}

.f-36 {
	font-size: 36px;
}

/*------- padding -------- */ 

.pr-3-5 {
	padding-right: 30px !important;
}

.pl-3-5 {
	padding-left: 30px !important;
}

/*------- search bar -------- */ 
.search {
	.input-group-prepend .input-group-text {
		background-color: white;
		border-right: none;
	}

	input.prepend {
		border-left: none;
	}

	.input-group-append .input-group-text{
		background-color: white;
		border-left: none;
	}

	input.append {
		border-right: none;
	}
}

/*------- advertisements -------- */ 
.topbar-ad {
	height: 90px;
	width: 40%;
	border: 1px solid $grey; 
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

.sidebar-advert {
  height: 600px;
  width: 200px;
  background-color: $medium-grey;
  border: 1px solid $grey;
}

/*------- display -------- */

/*------- colors -------- */

.primary-blue {
	color: $primary-blue;
}

.black {
	color: $black;
}

.soft-black {
	color: $soft-black;
}

.grey {
	color: $grey;
}

.light-border {
	color: $light-border;
}

.red {
	color: $red;
}

.pale-red {
	color: $pale-red;
}

.link-blue {
	color: $link-blue;
}

.medium-dark-grey {
	color: $medium-dark-grey;
}

.pale-yellow {
	color: $pale-yellow;
}

.yellow {
	color: $yellow;
}

.cornflower-blue {
	color: $cornflower-blue;
}

.light-green {
	color: $light-green;
}
