body {
	background-color: $background;
	font-family: $nunito;
	letter-spacing: 0.8px;
	font-weight: 300;
	color: $soft-black;
}

a {
	color: $soft-black;
}

.background-blue {
	background-color: $primary-blue;
}

.font-light {
	color: $light-grey;
}

.font-caviar {
	font-family: $caviar-dreams;
}

.circular {
	border-radius: 50%;
}