body {
	background-color: $background;
	font-family: $nunito;
	letter-spacing: 0.8px;
	font-weight: 300 !important;
	color: $soft-black;
}

/*------ fonts -------- */

p {
	font-size: 14px;
	font-weight: 300;
}

/* meant for profile news feed */
h1 {
	font-family: $skia;
	font-size: 20px;
}

h2 {
	font-family: $open-sans;
	font-weight: 600;
}

h5 {
	font-family: $open-sans;
	font-size: 20px;
}

/* meant for actor and show home pages filter */
h6 {
	font-family: $open-sans;
	font-size: 14px;
	color: $soft-black;
	font-weight: 300;
}

a {
	color: $soft-black;
}


a:hover {
	text-decoration: none;
}

.btn a:hover {
	text-decoration: none;
	color: $soft-black;
}

.font-light {
	color: $light-grey;
}

/*-------- font weights --------*/

.semi-bold {
	font-weight: 600;
}

.light {
	font-weight: 300;
}

/*-------- font families --------*/

.font-open-sans {
	font-family: $open-sans;
}

.font-nunito {
	font-family: $nunito;
}

.font-caviar {
	font-family: $caviar-dreams;
}

.font-skia {
	font-family: $skia;
}

.circular {
	border-radius: 50%;
}

.list {
	list-style-type: none;
}

/*------- background colors -------- */

.background-blue {
	background-color: $primary-blue;
}

.background-light-blue {
	background-color: $light-blue;
}

.background-pale-blue {
	background-color: $pale-blue;
}

/*------- colors -------- */

.primary-blue {
	color: $primary-blue;
}

.black {
	color: $black;
}

.soft-black {
	color: $soft-black;
}

.grey {
	color: $grey;
}

.red {
	color: $red;
}

.link-blue {
	color: $link-blue;
}

/*------- buttons -------- */

.rounded-btn {
	font-size: 14px;
	border: 1px solid $primary-blue;
	padding: 3px 40px 3px 40px;
	border-radius: 10px;
	color: $soft-black;
}

.rounded-btn:hover {
	background-color: $light-blue;
}

.rounded-btn.blue-btn:hover {
	background-color: $white;
}

/*------- advertisements -------- */ 
.topbar-ad {
	height: 90px;
	width: 40%;
	border: 1px solid $grey; 
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

.sidebar-advert {
  height: 600px;
  width: 200px;
  margin-left: 13%;
  background-color: $medium-grey;
  border: 1px solid $grey;
}
