#navbar {
	height: 50px;
	-webkit-box-shadow: 0 0 5px $grey;
    -moz-box-shadow: 0 0 5px $grey;
    box-shadow: 0 0 5px $grey;
    border-bottom: 0.5px solid $grey;
}

#navbar-title {
	font-size: 24px;
	letter-spacing: 1px;
}

#navbar-options {
	margin-left: -14%;
}

.nav-item {
	position: relative;
}

.navbar-active {
	position: absolute;
	border-bottom: 4px solid white; 
	margin-left: 15%;
	width: 70%;
}

#navbar .nav-link {
	color: $light-grey;
	font-family: $open-sans;
}

#navbar-search {
	margin: -7%;
}

#searchbar {
	width: 60%;
}

.circle {
	background-color: $soft-black; 
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.avatar-div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
} 

#login-dropdown {
	margin-left: 40%;
}

#navbar-logged-in {
	margin-left: 160%;
}

#navbar-login-text {
	font-size: 12px;
}

/*----- dropdown ------ */

.dropdown-toggle::after {
    display: none;
}