#navbar {
	height: 50px;
	-webkit-box-shadow: 0 0 5px $grey;
    -moz-box-shadow: 0 0 5px $grey;
    box-shadow: 0 0 5px $grey;
    border-bottom: 0.5px solid $grey;
}

#navbar-title {
	font-size: 24px;
	letter-spacing: 1px;
}

#navbar-options {
	margin-left: -10%;
}

.nav-item {
	position: relative;
}

.navbar-active {
	position: absolute;
	border-bottom: 4px solid white; 
	margin-left: 15%;
	width: 70%;
}

#navbar .nav-link {
	color: $light-grey;
	font-family: $open-sans;
}

a:hover {
	color: $grey;
}

#navbar-search {
	margin: -3%;
}

#searchbar {
	width: 60%;
}

.avatar-div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/*----- dropdown ------ */

.dropdown-toggle::after {
    display: none;
}